.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90vw;
    margin: auto;
    gap: 2vh 2vw;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.author {
    display: flex;
}

.button-download {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}


.button-download:hover {
    background-color: #45a049;
}